@model SYSTEM_MANAGEMENT.Models.BANG_LUONG

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/css/BangLuong/bangluongEdit.css" type="text/css" rel="stylesheet"/>
<h2 class="edit">CHỈNH SỬA BẢNG LƯƠNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BẢNG LƯƠNG</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LUONG_ID)

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.USER_ID, "USER ID", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.DropDownList("USER_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_CO_BAN,"LƯƠNG CƠ BẢN", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_CO_BAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_CO_BAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_BAO_HIEM, "LƯƠNG BẢO HIỂM", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_BAO_HIEM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_BAO_HIEM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.PHU_CAP_AN_TRUA, "PHỤ CẤP ĂN TRƯA", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PHU_CAP_AN_TRUA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHU_CAP_AN_TRUA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.PHU_CAP_DI_LAI_DIEN_THOAI, "PHỤ CẤP ĐI LẠI/ĐIỆN THOẠI", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PHU_CAP_DI_LAI_DIEN_THOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHU_CAP_DI_LAI_DIEN_THOAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.PHU_CAP_THUONG_DOANH_SO, "THƯỞNG DOANH SỐ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PHU_CAP_THUONG_DOANH_SO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHU_CAP_THUONG_DOANH_SO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.PHU_CAP_TRACH_NHIEM, "PHỤ CẤP TRÁCH NHIỆM", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PHU_CAP_TRACH_NHIEM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHU_CAP_TRACH_NHIEM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.CONG_CO_BAN, "CÔNG CƠ BẢN", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CONG_CO_BAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONG_CO_BAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.CONG_CO_BAN_NGAY, "CÔNG CƠ BẢN NGÀY", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CONG_CO_BAN_NGAY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONG_CO_BAN_NGAY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.CONG_CO_BAN_GIO, "CÔNG CƠ BẢN GIỜ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CONG_CO_BAN_GIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONG_CO_BAN_GIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.BAO_HIEM_CONG_TY, "BẢO HIỂM CÔNG TY", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.BAO_HIEM_CONG_TY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BAO_HIEM_CONG_TY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.BAO_HIEM_NHAN_VIEN, "BẢO HIỂM NHÂN VIÊN", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.BAO_HIEM_NHAN_VIEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BAO_HIEM_NHAN_VIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_THUC_TE_CONG_LAM_THUC, "LƯƠNG THỰC TẾ CÔNG LÀM THỰC", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_THUC_TE_CONG_LAM_THUC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_THUC_TE_CONG_LAM_THUC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_THUC_TE_SO_TIEN, "LƯƠNG THỰC TẾ SỐ TIỀN", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_THUC_TE_SO_TIEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_THUC_TE_SO_TIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_CONG_NGAY_THUONG, "LƯƠNG LÀM THÊM CÔNG NGÀY THƯỞNG", htmlAttributes: new { @class = "control-label col-md-3 nopadding" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_CONG_NGAY_THUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_CONG_NGAY_THUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_THUONG, "LƯƠNG LÀM THÊM TIỀN CÔNG NGÀY THƯỞNG", htmlAttributes: new { @class = "control-label col-md-3 nopadding" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_THUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_THUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_CONG_NGAY_NGHI, "LƯƠNG LÀM THÊM CÔNG NGÀY NGHỈ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_CONG_NGAY_NGHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_CONG_NGAY_NGHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_NGHI, "LƯƠNG LÀM THÊM TIỀN CÔNG NGÀY NGHỈ", htmlAttributes: new { @class = "control-label col-md-3 nopadding" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_NGHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_NGHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_CONG_NGAY_LE, "LƯƠNG LÀM THÊM CÔNG NGÀY LỄ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_CONG_NGAY_LE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_CONG_NGAY_LE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_LE, "LƯƠNG LÀM THÊM TIỀN CÔNG NGÀY LỄ", htmlAttributes: new { @class = "control-label col-md-3 nopadding" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_LE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAM_THEM_TIEN_CONG_NGAY_LE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.TONG_TIEN_CONG, "TỔNG TIỀN CÔNG", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TONG_TIEN_CONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TONG_TIEN_CONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.TAM_UNG, "TẠM ỨNG", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TAM_UNG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TAM_UNG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.GIO_DI_TRE, "GIỜ ĐI TRỄ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.GIO_DI_TRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIO_DI_TRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.PHAT_DI_TRE, "PHẠT ĐI TRỄ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PHAT_DI_TRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHAT_DI_TRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.CONG_DOAN, "CÔNG ĐOÀN", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CONG_DOAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONG_DOAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.LUONG_LAO_CONG, "LƯƠNG LAO CÔNG", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LUONG_LAO_CONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONG_LAO_CONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.THUC_LINH, "THỰC LĨNH", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.THUC_LINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THUC_LINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.THANG_LINH_LUONG, "THÁNG LĨNH LƯƠNG", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.THANG_LINH_LUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THANG_LINH_LUONG, "", new { @class = "text-danger" })
            </div>
        </div> 
        <div class="form-group">
            <div class="col-md-offset-0 col-md-1">
                <a href="/BANG_LUONG/Index/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
            </div>
            <div class="col-md-offset-5 col-md-1">
                <input type="submit" id="submit" value="" class="btn btn-default" />
            </div>
        </div>    
    </div>
    
}

