@model SYSTEM_MANAGEMENT.Models.CUSTOMER_GROUPS

@{
    ViewBag.Title = "Create";
}
<link href="~/Areas/HopLong/Style/CustomerGroup/create.css" rel="stylesheet"/>
<h2 class="h2">TẠO MỚI NHÓM KHÁCH HÀNG</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.MA_NHOM_KHACH,"MÃ NHÓM KHÁCH", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MA_NHOM_KHACH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MA_NHOM_KHACH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.TEN_NHOM_KHACH,"TÊN NHÓM KHÁCH", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TEN_NHOM_KHACH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_NHOM_KHACH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.MO_TA,"MÔ TẢ", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MO_TA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-1">
                <a href="/HopLong/CUSTOMER_GROUPS"><img src="~/Content/images/back_icon.png" /></a>
            </div>
            <div class="col-md-offset-4 col-md-1">
                <input type="submit" id="submit" value="" class="btn btn-default" />
            </div>
        </div>
    </div>
}

