@model SYSTEM_MANAGEMENT.Models.CUSTOMER_GROUPS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER_GROUPS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_NHOM_KHACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_NHOM_KHACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MO_TA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_NHOM_KHACH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
