@model SYSTEM_MANAGEMENT.Models.CUSTOMER

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="~/Areas/HopLong/Style/Customers/create.css"/>
<h2 style="text-align:center">TẠO MỚI KHÁCH HÀNG</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">MÃ KHÁCH HÀNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MA_KHACH_HANG)
                    @Html.ValidationMessageFor(model => model.MA_KHACH_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">TÊN KHÁCH HÀNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TEN_KHACH_HANG)
                    @Html.ValidationMessageFor(model => model.TEN_KHACH_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ĐỊA CHỈ CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DIA_CHI_CONG_TY)
                    @Html.ValidationMessageFor(model => model.DIA_CHI_CONG_TY, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ĐỊA CHỈ XUẤT HÓA ĐƠN</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DIA_CHI_XUAT_HOA_DON)
                    @Html.ValidationMessageFor(model => model.DIA_CHI_XUAT_HOA_DON, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">MÃ NHÓM KHÁCH</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MA_NHOM_KHACH)
                    @Html.ValidationMessageFor(model => model.MA_NHOM_KHACH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">MÃ SỐ THUẾ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MST)
                    @Html.ValidationMessageFor(model => model.MST, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ĐIỆN THOẠI</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DIEN_THOAI)
                    @Html.ValidationMessageFor(model => model.DIEN_THOAI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">FAX</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.FAX)
                    @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">EMAIL</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.EMAIL)
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">WEBSITE</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.WEBSITE)
                    @Html.ValidationMessageFor(model => model.WEBSITE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">USER ID</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.USER_ID)
                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">MÔ TẢ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MO_TA)
                    @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn_icon_create btn-success"><span class="fa icon_back fa-plus-circle" aria-hidden="true"></span>Tạo mới</button>
                    <button type="reset" class="btn btn_icon_delete btn-success"><span class="fa icon_back fa-ban" aria-hidden="true"></span>Hủy bỏ</button>
                    <a href="~/HopLong/CUSTOMERs/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>

                </div>
            </div>
        </div>

    </div>
}
