@model SYSTEM_MANAGEMENT.Models.CUSTOMER

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_KHACH_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KHACH_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI_CONG_TY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI_CONG_TY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI_XUAT_HOA_DON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI_XUAT_HOA_DON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIEN_THOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIEN_THOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEBSITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEBSITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MO_TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_GROUPS.TEN_NHOM_KHACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_GROUPS.TEN_NHOM_KHACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
