@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_KHACH_HANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIA_CHI_CONG_TY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIA_CHI_XUAT_HOA_DON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIEN_THOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBSITE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MO_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_GROUPS.TEN_NHOM_KHACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI_CONG_TY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI_XUAT_HOA_DON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIEN_THOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBSITE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MO_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER_GROUPS.TEN_NHOM_KHACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_KHACH_HANG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_KHACH_HANG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_KHACH_HANG })
        </td>
    </tr>
}

</table>
