@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/Customers/index.css" rel="stylesheet" />
<h2 style="text-align:center">KHÁCH HÀNG</h2>

<a href="~/HopLong/CUSTOMERs/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>



<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                TÊN KHÁCH HÀNG
                                            </th>
                                            <th>
                                                ĐỊA CHỈ CÔNG TY
                                            </th>
                                            <th>
                                                ĐỊA CHỈ XUẤT HÓA ĐƠN
                                            </th>
                                            <th>
                                                MÃ SỐ THUẾ
                                            </th>
                                            <th>
                                                ĐIỆN THOẠI
                                            </th>
                                            <th>
                                                FAX
                                            </th>
                                            <th>
                                                E-MAIL
                                            </th>
                                            <th>
                                                WEBSITE
                                            </th>
                                            <th>
                                                MÔ TẢ
                                            </th>
                                            <th>
                                                TÊN NHÓM KHÁCH
                                            </th>
                                            <th>
                                                USERNAME
                                            </th>
                                            <th>
                                                <em class="fa fa-cog"></em>
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TEN_KHACH_HANG)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DIA_CHI_CONG_TY)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DIA_CHI_XUAT_HOA_DON)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MST)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DIEN_THOAI)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FAX)<p>aaaaaaaaaa</p>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WEBSITE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MO_TA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CUSTOMER_GROUPS.TEN_NHOM_KHACH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.USER.USERNAME)
                                                </td>
                                                <td>
                                                    <a href="/HopLong/CUSTOMERs/Edit/@item.MA_KHACH_HANG" class="btn btn_icon_edit btn-default"><span class="fa icon fa-pencil-square-o" aria-hidden="true"></span>Sửa</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMERs/Details/@item.MA_KHACH_HANG" class="btn btn_icon_details btn-default"><span class="fa icon fa-info-circle" aria-hidden="true"></span>Chi tiết</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMERs/Delete/@item.MA_KHACH_HANG" class="btn btn_icon_delete btn-default"><span class="fa icon fa-trash-o" aria-hidden="true"></span>Xóa</a> &nbsp;&nbsp;
                                                 </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>