@model SYSTEM_MANAGEMENT.Models.USER

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/css/Users/userDelete.css" rel="stylesheet"/>
<h2 style="text-align:center">XÓA NGƯỜI DÙNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.USER_ID)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">TÊN NHÓM CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CÔNG TY CHA</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">QUẢN LÝ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.FULLNAME, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FULLNAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ID LOẠI CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.IS_ADMIN, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IS_ADMIN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.ALLOWED, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ALLOWED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn_icon_delete btn-success"><span class="fa icon_back fa-trash-o" aria-hidden="true"></span>Xóa</button>
                    <a href="~/USERs/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}