@model IEnumerable<SYSTEM_MANAGEMENT.Models.USER>

@{
    ViewBag.Title = "Người dùng";
}
<head>
    <link href="~/Content/css/Users/userIndex.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
</head>

<link href="~/Content/css/Users/userIndex.css" rel="stylesheet" />

<h1 class="h1">TÀI KHOẢN NGƯỜI DÙNG</h1>

<a href="~/USERs/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>
<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>Username</th>
                                            <th>Mật khẩu</th>
                                            <th>Họ và tên</th>
                                            <th>E-MAIL</th>
                                            <th>Avatar</th>
                                            <th>Là quản trị viên</th>
                                            <th>Hoạt động</th>
                                            <th>
                                                <em class="fa fa-cog"></em>
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            
                                            <tr>
                                                <td class="paddingleft">
                                                    @Html.DisplayFor(modelItem => item.USERNAME)
                                                </td>
                                                <td class="paddingleft">
                                                    @Html.DisplayFor(modelItem => item.PASSWORD)
                                                </td>
                                                <td class="paddingleft">
                                                    @Html.DisplayFor(modelItem => item.FULLNAME)
                                                </td>
                                                <td class="paddingleft">
                                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                                </td>
                                                <td>
                                                    <img src="~/Content/images/@item.AVATAR" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IS_ADMIN)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ALLOWED)
                                                </td>
                                                <td>
                                                    <a href="/USERs/Edit/@item.USER_ID"  class="btn btn_icon_edit btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sửa</a> &nbsp;&nbsp;
                                                    <a href="/USERs/Details/@item.USER_ID"  class="btn btn_icon_details btn-default"><i class="fa fa-info-circle" aria-hidden="true"></i>Chi tiết</a> &nbsp;&nbsp;
                                                    <a href="/USERs/Delete/@item.USER_ID"  class="btn btn_icon_delete btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i>Xóa</a> &nbsp;&nbsp;
                                                    <a href="/USER_PERMISSIONS/Index/@item.USER_ID"  class="btn btn_icon_permission btn-default"><i class="fa fa-cog" aria-hidden="true"></i>Phân quyền</a> &nbsp;&nbsp;
                                                    <a href="/USER_METAS/Create"  class="btn btn_icon_meta_create btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i>Thêm thông tin cá nhân</a> &nbsp;&nbsp;
                                                    <a href="/USER_METAS/Index/@item.USER_ID"  class="btn btn_icon_meta btn-default"><i class="fa fa-user" aria-hidden="true"></i>Chi tiết thông tin cá nhân</a> &nbsp;&nbsp;
                                            </tr>                               
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>


