@model SYSTEM_MANAGEMENT.Models.PAYMENT_TERMS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PAYMENT_TERMS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_DIEU_KHOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_DIEU_KHOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOI_DUNG_DIEU_KHOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOI_DUNG_DIEU_KHOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_DIEU_KHOAN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
