@model SYSTEM_MANAGEMENT.Models.CUSTOMER_CONTACTS

@{
    ViewBag.Title = "Edit";
}
<link href="~/Areas/HopLong/Style/CustomerContact/edit.css" rel="stylesheet"/>
<h2 class="h2">CHỈNH SỬA LIÊN HỆ KHÁCH HÀNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_LIEN_HE_KH)

        <div class="form-group">
            <div class="col-md-2"></div>
                @Html.LabelFor(model => model.MA_KHACH_HANG, "MÃ KHÁCH HÀNG", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownList("MA_KHACH_HANG", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MA_KHACH_HANG, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.NGUOI_LIEN_HE,"NGƯỜI LIÊN HỆ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NGUOI_LIEN_HE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGUOI_LIEN_HE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.NGAY_SINH,"NGÀY SINH", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NGAY_SINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.GIOI_TINH,"GIỚI TÍNH", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GIOI_TINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIOI_TINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.CHUC_VU,"CHỨC VỤ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CHUC_VU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CHUC_VU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.SO_DIEN_THOAI,"SỐ ĐIỆN THOẠI", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SO_DIEN_THOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SO_DIEN_THOAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.EMAIL,"E-MAIL", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.FACEBOOK,"FACEBOOK", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FACEBOOK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FACEBOOK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.SKYPE,"SKYPE", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SKYPE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SKYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.GHI_CHU,"GHI CHÚ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GHI_CHU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GHI_CHU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-0 col-md-1">
                <a href="/HopLong/CUSTOMER_CONTACTS"><img src="~/Content/images/back_icon.png" /></a>
            </div>
            <div class="col-md-offset-4 col-md-1">
                <input type="submit" id="submit" value="" class="btn btn-default" />
            </div>
        </div>
    </div>
}


