@model SYSTEM_MANAGEMENT.Models.CUSTOMER_CONTACTS

@{
    ViewBag.Title = "Edit";
}
<link href="~/Areas/HopLong/Style/CustomerContact/edit.css" rel="stylesheet"/>
<h2 style="text-align:center">CHỈNH SỬA LIÊN HỆ KHÁCH HÀNG</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_LIEN_HE_KH)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">MÃ KHÁCH HÀNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MA_KHACH_HANG)
                    @Html.ValidationMessageFor(model => model.MA_KHACH_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">NGƯỜI LIÊN HỆ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NGUOI_LIEN_HE)
                    @Html.ValidationMessageFor(model => model.NGUOI_LIEN_HE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">NGÀY SINH</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NGAY_SINH)
                    @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CHỨC VỤ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.CHUC_VU)
                    @Html.ValidationMessageFor(model => model.CHUC_VU, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">SỐ ĐIỆN THOẠI</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.SO_DIEN_THOAI)
                    @Html.ValidationMessageFor(model => model.SO_DIEN_THOAI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">EMAIL</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.EMAIL)
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">FACEBOOK</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.FACEBOOK)
                    @Html.ValidationMessageFor(model => model.FACEBOOK, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">SKYPE</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.SKYPE)
                    @Html.ValidationMessageFor(model => model.SKYPE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.GHI_CHU)
                    @Html.ValidationMessageFor(model => model.GHI_CHU, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn  btn-success"><span class="glyphicon btn_save glyphicon-save"></span>Lưu</button>
                    <a href="~/HopLong/CUSTOMER_CONTACTS/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}