@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_CONTACTS>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/CustomerContact/index.css" rel="stylesheet"/>
<h2 style="text-align:center">LIÊN HỆ KHÁCH HÀNG</h2>


    <a href="~/HopLong/CUSTOMER_CONTACTS/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>

<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                NGƯỜI LIÊN HỆ
                                            </th>
                                            <th>
                                                NGÀY SINH
                                            </th>
                                            <th>
                                                GIỚI TÍNH
                                            </th>
                                            <th>
                                                CHỨC VỤ
                                            </th>
                                            <th>
                                                SỐ ĐIỆN THOẠI
                                            </th>
                                            <th>
                                                E-MAIL
                                            </th>
                                            <th>
                                                FACEBOOK
                                            </th>
                                            <th>
                                                SKYPE
                                            </th>
                                            <th>
                                                GHI CHÚ
                                            </th>
                                            <th>
                                                TÊN KHÁCH HÀNG
                                            </th>
                                            <th>
                                                <em class="fa fa-cog"></em>
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NGUOI_LIEN_HE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NGAY_SINH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GIOI_TINH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CHUC_VU)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SO_DIEN_THOAI)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FACEBOOK)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SKYPE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GHI_CHU)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
                                                </td>
                                                <td>
                                                    <a href="/HopLong/CUSTOMER_CONTACTS/Edit/@item.ID_LIEN_HE_KH" class="btn btn_icon_edit btn-default"><span class="fa icon fa-pencil-square-o" aria-hidden="true"></span>Sửa</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMER_CONTACTS/Details/@item.ID_LIEN_HE_KH" class="btn btn_icon_details btn-default"><span class="fa icon fa-info-circle" aria-hidden="true"></span>Chi tiết</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMER_CONTACTS/Delete/@item.ID_LIEN_HE_KH" class="btn btn_icon_delete btn-default"><span class="fa icon fa-trash-o" aria-hidden="true"></span>Xóa</a> &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>