@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_CONTACTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGUOI_LIEN_HE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY_SINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUC_VU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SO_DIEN_THOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACEBOOK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.TEN_KHACH_HANG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOI_LIEN_HE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_SINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOI_TINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUC_VU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SO_DIEN_THOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACEBOOK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHI_CHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_LIEN_HE_KH }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_LIEN_HE_KH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_LIEN_HE_KH })
        </td>
    </tr>
}

</table>
