@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_CONTACTS>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/CustomerContact/index.css" rel="stylesheet"/>
<h2>LIÊN HỆ KHÁCH HÀNG</h2>

<p>
    <a href="/HopLong/CUSTOMER_CONTACTS/Create"><img src="~/Content/images/create_icon.png" /></a> &nbsp;&nbsp;&nbsp;
</p>
<table class="table" id="customer">
    <tr>
        <th>
            NGƯỜI LIÊN HỆ
        </th>
        <th>
            NGÀY SINH
        </th>
        <th>
            GIỚI TÍNH
        </th>
        <th>
            CHỨC VỤ
        </th>
        <th>
            SỐ ĐIỆN THOẠI
        </th>
        <th>
            E-MAIL
        </th>
        <th>
            FACEBOOK
        </th>
        <th>
            SKYPE
        </th>
        <th>
            GHI CHÚ
        </th>
        <th>
            TÊN KHÁCH HÀNG
        </th>
        <th>
            <em class="fa fa-cog"></em>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOI_LIEN_HE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_SINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOI_TINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUC_VU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SO_DIEN_THOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACEBOOK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHI_CHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_LIEN_HE_KH }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_LIEN_HE_KH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_LIEN_HE_KH })
        </td>
    </tr>
}

</table>
