@model IEnumerable<SYSTEM_MANAGEMENT.Models.COMPANY>

@{
    ViewBag.Title = "Company_in_cat";
}

<h2>Company_in_cat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            Tên công ty
        </th>
        <th>
            Công ty mẹ
        </th>
        <th>
            Giám đốc
            
        </th>
        <th>
            Loại công ty
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY1.COMPANY_NAME)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_CATEGORIES.COMPANY_CATEGORY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.FULLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTED)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COMPANY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COMPANY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMPANY_ID }) |
            <a href="/COMPANies/Phong_Ban_Cong_Ty/@item.COMPANY_ID"> Danh sách phòng ban</a>
        </td>
    </tr>
}

</table>
