@model IEnumerable<SYSTEM_MANAGEMENT.Models.COMPANY_CATEGORIES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            Loại công ty
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_CATEGORY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTED)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COMPANY_CATEGORY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COMPANY_CATEGORY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMPANY_CATEGORY_ID }) |
            @Html.ActionLink("Danh sách công ty", "Company_in_cat", new { id = item.COMPANY_CATEGORY_ID })
        </td>
    </tr>
}

</table>
