@model SYSTEM_MANAGEMENT.Models.BANG_CHAM_CONG

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/css/Chamcong/chamcongDelete.css" rel="stylesheet" type="text/css"/>
<h1>Xóa</h1>

<h3>Bạn có chắc rằng muốn xóa?</h3>
<div class="content">
    <h4>Bảng chấm công</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>NGÀY CHUẨN:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_CHUAN)
        </dd>

        <dt>
            <p>GIỜ ĐI MUỘN:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIO_DI_MUON)
        </dd>

        <dt>
            <p>GIỜ VỀ SỚM:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIO_VE_SOM)
        </dd>

        <dt>
            <p>TĂNG CA:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG_CA_NGAY_THUONG)
        </dd>

        <dt>
            <p>TĂNG CA NGÀY LỄ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG_CA_NGAY_LE)
        </dd>

        <dt>
            <p>SỐ LẦN QUÊN CHẤM:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_LAN_QUEN_CHAM)
        </dd>

        <dt>
            <p>SỐ NGÀY NGHỈ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_NGAY_NGHI)
        </dd>

        <dt>
            <p>CÔNG THỰC TẾ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONG_THUC_TE)
        </dd>

        <dt>
            <p>ỨNG LƯƠNG:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNG_LUONG)
        </dd>

        <dt>
            <p>GHI CHÚ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            <p>THÁNG CHẤM CÔNG:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANG_CHAM_CONG)
        </dd>

        <dt>
            <p>USERNAME:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

    </dl>   
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về Trang Chủ", "Index")
        </div>
    }