@model SYSTEM_MANAGEMENT.Models.BANG_CHAM_CONG

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/css/Chamcong/chamcongDetails.css" rel="stylesheet" type="text/css"/>
<h2>CHI TIẾT</h2>

<div class="content">
    <h4>BẢNG CHẤM CÔNG</h4>
    <hr />
    <dl class="dl-horizontal">      
        <dt>
            <p>NGÀY CHUẨN:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_CHUAN)
        </dd>

        <dt>
            <p>GIỜ ĐI MUỘN:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIO_DI_MUON)
        </dd>

        <dt>
            <p>GIỜ VỀ SỚM:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIO_VE_SOM)
        </dd>

        <dt>
            <p>TĂNG CA:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG_CA_NGAY_THUONG)
        </dd>

        <dt>
            <p>TĂNG CA NGÀY LỄ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG_CA_NGAY_LE)
        </dd>

        <dt>
            <p>SỐ LẦN QUÊN CHẤM:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_LAN_QUEN_CHAM)
        </dd>

        <dt>
            <p>SỐ NGÀY NGHỈ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_NGAY_NGHI)
        </dd>

        <dt>
            <p>CÔNG THỰC TẾ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONG_THUC_TE)
        </dd>

        <dt>
            <p>ỨNG LƯƠNG:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNG_LUONG)
        </dd>

        <dt>
            <p  class="note">GHI CHÚ:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            <p>THÁNG CHẤM CÔNG:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANG_CHAM_CONG)
        </dd>

        <dt>
            <p>USERNAME:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

    </dl>
</div>
<div class="link">
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.CHAM_CONG_ID }) |
    @Html.ActionLink("Trở về bảng chấm công", "Index")
</div>
