@model SYSTEM_MANAGEMENT.Models.BANG_CHAM_CONG
<link href="~/Content/css/Chamcong/chamcongEdit.css" type="text/css"" rel="stylesheet"/>
@{
    ViewBag.Title = "Edit";
}

<h2>CHỈNH SỬA BẢNG CHẤM CÔNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="CountTable"><b>BẢNG CHẤM CÔNG</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CHAM_CONG_ID)

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.USER_ID, "USER ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("USER_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.NGAY_CHUAN,"NGÀY CHUẨN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.NGAY_CHUAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAY_CHUAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.GIO_DI_MUON,"GIỜ ĐI MUỘN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.GIO_DI_MUON, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIO_DI_MUON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.GIO_VE_SOM,"GIỜ VỀ SỚM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.GIO_VE_SOM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIO_VE_SOM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.TANG_CA_NGAY_THUONG,"TĂNG CA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TANG_CA_NGAY_THUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TANG_CA_NGAY_THUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.TANG_CA_NGAY_LE,"TĂNG CA NGÀY LỄ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TANG_CA_NGAY_LE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TANG_CA_NGAY_LE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.SO_LAN_QUEN_CHAM,"SỐ LẦN QUÊN CHẤM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.SO_LAN_QUEN_CHAM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SO_LAN_QUEN_CHAM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.SO_NGAY_NGHI,"SỐ NGÀY NGHỈ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.SO_NGAY_NGHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SO_NGAY_NGHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.CONG_THUC_TE,"CÔNG THỰC TẾ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CONG_THUC_TE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONG_THUC_TE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.UNG_LUONG,"ỨNG LƯƠNG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.UNG_LUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UNG_LUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.GHI_CHU,"GHI CHÚ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.GHI_CHU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GHI_CHU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            @Html.LabelFor(model => model.THANG_CHAM_CONG,"THÁNG CHẤM CÔNG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.THANG_CHAM_CONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THANG_CHAM_CONG, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-1">
                <a href="/BANG_CHAM_CONG/Index/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
            </div>
            <div class="col-md-offset-4 col-md-1">
                <input type="submit" id="submit" value="" class="btn btn-default" />
            </div>
        </div>      
    </div>
    
}

