@model SYSTEM_MANAGEMENT.Models.BANG_CHAM_CONG
<link href="~/Content/css/Chamcong/chamcongEdit.css" type="text/css"" rel="stylesheet"/>
@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center">CHỈNH SỬA BẢNG CHẤM CÔNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CHAM_CONG_ID)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">USER ID</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.USER_ID)
                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">NGÀY CHUẨN</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NGAY_CHUAN)
                    @Html.ValidationMessageFor(model => model.NGAY_CHUAN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GIỜ ĐI MUỘN</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.GIO_DI_MUON)
                    @Html.ValidationMessageFor(model => model.GIO_DI_MUON, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GIỜ VỀ SỚM</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.GIO_VE_SOM)
                    @Html.ValidationMessageFor(model => model.GIO_VE_SOM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">TĂNG CA</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TANG_CA_NGAY_THUONG)
                    @Html.ValidationMessageFor(model => model.TANG_CA_NGAY_THUONG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">TĂNG CA NGÀY LỄ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TANG_CA_NGAY_LE)
                    @Html.ValidationMessageFor(model => model.TANG_CA_NGAY_LE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">SỐ LẦN QUÊN CHẤM</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.SO_LAN_QUEN_CHAM)
                    @Html.ValidationMessageFor(model => model.SO_LAN_QUEN_CHAM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">SỐ NGÀY NGHỈ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.SO_NGAY_NGHI)
                    @Html.ValidationMessageFor(model => model.SO_NGAY_NGHI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CÔNG THỰC TẾ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.CONG_THUC_TE)
                    @Html.ValidationMessageFor(model => model.CONG_THUC_TE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ỨNG LƯƠNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.UNG_LUONG)
                    @Html.ValidationMessageFor(model => model.UNG_LUONG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.GHI_CHU)
                    @Html.ValidationMessageFor(model => model.GHI_CHU, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">THÁNG CHẤM CÔNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.THANG_CHAM_CONG)
                    @Html.ValidationMessageFor(model => model.THANG_CHAM_CONG, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn  btn-success"><span class="glyphicon btn_save glyphicon-save"></span>Lưu</button>
                    <a href="~/COMPANies/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}