@model SYSTEM_MANAGEMENT.Models.CUSTOMER_ACCOUNTS

@{
    ViewBag.Title = "Edit";
}
<link href="~/Areas/HopLong/Style/CustomerAccount/edit.css" rel="stylesheet"/>
<h2 style="text-align:center">CHỈNH SỬA TÀI KHOẢN KHÁCH HÀNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_TAI_KHOAN_KH)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">TÊN NHÓM CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MA_KHACH_HANG)
                    @Html.ValidationMessageFor(model => model.MA_KHACH_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CÔNG TY CHA</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.SO_TAI_KHOAN)
                    @Html.ValidationMessageFor(model => model.SO_TAI_KHOAN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">QUẢN LÝ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TEN_NGAN_HANG)
                    @Html.ValidationMessageFor(model => model.TEN_NGAN_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ID LOẠI CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.CHI_NHANH)
                    @Html.ValidationMessageFor(model => model.CHI_NHANH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TINH_TP)
                    @Html.ValidationMessageFor(model => model.TINH_TP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn  btn-success"><span class="glyphicon btn_save glyphicon-save"></span>Lưu</button>
                    <a href="~/HopLong/CUSTOMER_ACCOUNTS/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}