@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_ACCOUNTS>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/CustomerAccount/index.css" rel="stylesheet"/>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            SỐ TÀI KHOẢN
        </th>
        <th>
            TÊN NGÂN HÀNG
        </th>
        <th>
            CHI NHÁNH
        </th>
        <th>
            TỈNH/THÀNH PHỐ
        </th>
        <th>
            TÊN KHÁCH HÀNG
        </th>
        <th>
            <em class="fa fa-cog"></em>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SO_TAI_KHOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_NGAN_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHI_NHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINH_TP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TAI_KHOAN_KH })
        </td>
    </tr>
}

</table>
