@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_ACCOUNTS>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/CustomerAccount/index.css" rel="stylesheet"/>
<h2 class="h2">TÀI KHOẢN KHÁCH HÀNG</h2>

<p>
    <a href="/HopLong/CUSTOMER_ACCOUNTS/Create"><img src="~/Content/images/create_icon.png"/></a> &nbsp;&nbsp;&nbsp;
</p>
<table class="table" id="customer">
    <tr>
        <th>
            SỐ TÀI KHOẢN
        </th>
        <th>
            TÊN NGÂN HÀNG
        </th>
        <th>
            CHI NHÁNH
        </th>
        <th>
            TỈNH/THÀNH PHỐ
        </th>
        <th>
            TÊN KHÁCH HÀNG
        </th>
        <th>
            <em class="fa fa-cog"></em>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SO_TAI_KHOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_NGAN_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHI_NHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINH_TP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TAI_KHOAN_KH })
            <!--<a href="/CUSTOMER_ACCOUNTS/Edit/@item.ID_TAI_KHOAN_KH"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
           <a href="/CUSTOMER_ACCOUNTS/Details/@item.ID_TAI_KHOAN_KH"><i class="fa fa-info-circle" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
            <a href="/CUSTOMER_ACCOUNTS/Delete/@item.ID_TAI_KHOAN_KH"><i class="fa fa-trash-o " onclick="return confirm('Bạn có chắc muốn xóa không?')" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;-->
        </td>
    </tr>
}

</table>
