@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_ACCOUNTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SO_TAI_KHOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEN_NGAN_HANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHI_NHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINH_TP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.TEN_KHACH_HANG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SO_TAI_KHOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_NGAN_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHI_NHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINH_TP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TAI_KHOAN_KH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TAI_KHOAN_KH })
        </td>
    </tr>
}

</table>
