@model IEnumerable<SYSTEM_MANAGEMENT.Models.CUSTOMER_ACCOUNTS>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/CustomerAccount/index.css" rel="stylesheet" />
<h2 style="text-align:center">TÀI KHOẢN KHÁCH HÀNG</h2>


<a href="~/HopLong/CUSTOMER_ACCOUNTS/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>


<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                SỐ TÀI KHOẢN
                                            </th>
                                            <th>
                                                TÊN NGÂN HÀNG
                                            </th>
                                            <th>
                                                CHI NHÁNH
                                            </th>
                                            <th>
                                                TỈNH/THÀNH PHỐ
                                            </th>
                                            <th>
                                                TÊN KHÁCH HÀNG
                                            </th>
                                            <th>
                                                <em class="fa fa-cog"></em>
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SO_TAI_KHOAN)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TEN_NGAN_HANG)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CHI_NHANH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TINH_TP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CUSTOMER.TEN_KHACH_HANG)
                                                </td>
                                                <td>
                                                    <a href="/HopLong/CUSTOMER_ACCOUNTS/Edit/@item.ID_TAI_KHOAN_KH" class="btn btn_icon_edit btn-default"><span class="fa icon fa-pencil-square-o" aria-hidden="true"></span>Sửa</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMER_ACCOUNTS/Details/@item.ID_TAI_KHOAN_KH" class="btn btn_icon_details btn-default"><span class="fa icon fa-info-circle" aria-hidden="true"></span>Chi tiết</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/CUSTOMER_ACCOUNTS/Delete/@item.ID_TAI_KHOAN_KH" class="btn btn_icon_delete btn-default"><span class="fa icon fa-trash-o" aria-hidden="true"></span>Xóa</a> &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>