@model SYSTEM_MANAGEMENT.Models.COMPANY

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/css/Companies/Comp_Edit.css" rel="stylesheet" />
<h2 style="text-align:center;">CHỈNH SỬA CÔNG TY</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.COMPANY_ID)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">TÊN NHÓM CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.COMPANY_NAME)
                    @Html.ValidationMessageFor(model => model.COMPANY_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CÔNG TY CHA</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.PARENT_COMPANY)
                    @Html.ValidationMessageFor(model => model.PARENT_COMPANY, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">QUẢN LÝ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MANAGER)
                    @Html.ValidationMessageFor(model => model.MANAGER, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ID LOẠI CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.COMPANY_CATEGORY_ID)
                    @Html.ValidationMessageFor(model => model.COMPANY_CATEGORY_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NOTED)
                    @Html.ValidationMessageFor(model => model.NOTED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn  btn-success"><span class="glyphicon btn_save glyphicon-save"></span>Lưu</button>     
                    <a href="~/COMPANies/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}