@model SYSTEM_MANAGEMENT.Models.RETURNING_PRODUCTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RETURNING_PRODUCTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_TRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_TRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_TRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_TRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BORROWING_PRODUCTS.MA_HANG_HT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BORROWING_PRODUCTS.MA_HANG_HT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.TEN_KHO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_HANG_TRA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
