@model SYSTEM_MANAGEMENT.Models.HOLD_PRODUCTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HOLD_PRODUCTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_GIU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_GIU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONG_SO_GIU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_SO_GIU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_GIU_DA_XUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_GIU_DA_XUAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_GIU_CHUA_XU_LY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_GIU_CHUA_XU_LY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.MA_HANG_NHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.MA_HANG_NHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.TEN_KHO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_GIU_HANG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
