@model SYSTEM_MANAGEMENT.Models.PRODUCT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MA_HANG_NHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_HANG_NHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_VI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_VI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGUON_GOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUON_GOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODEL_DAC_BIET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODEL_DAC_BIET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOI_HAN_BAO_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOI_HAN_BAO_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIEN_GIAI_KHI_MUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIEN_GIAI_KHI_MUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIEN_GIAI_KHI_BAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIEN_GIAI_KHI_BAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAC_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAC_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_TON_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_TON_KHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_DANG_GIU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_DANG_GIU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_CO_THE_DUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_CO_THE_DUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_GIA_MUA_CO_DINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_GIA_MUA_CO_DINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_GIA_MUA_GAN_NHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_GIA_MUA_GAN_NHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH_ANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINH_ANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_CATEGORY_DETAILS.MA_NHOM_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_CATEGORY_DETAILS.MA_NHOM_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_META.THE_TICH_BOX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_META.THE_TICH_BOX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.TEN_KHO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
