@model IEnumerable<SYSTEM_MANAGEMENT.Models.Warehouse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_KHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MO_TA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_KHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MO_TA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_KHO }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_KHO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_KHO })|
            @Html.ActionLink("Danh sách sản phẩm", "Sanphamkho", new { id=item.MA_KHO })
        </td>
    </tr>
}

</table>
