@model SYSTEM_MANAGEMENT.Models.TRANSFER_WAREHOUSE_PRODUCTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRANSFER_WAREHOUSE_PRODUCTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_KY_GUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_KY_GUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_KY_GUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_KY_GUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.MA_HANG_NHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.MA_HANG_NHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.TEN_KHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse1.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse1.TEN_KHO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_KY_GUI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
