@model SYSTEM_MANAGEMENT.Models.PRODUCT_CATEGORIES

@{
    ViewBag.Title = "Create";
}
<link href="~/Areas/HopLong/Style/Product_Cate/Product_CateCreate.css" rel="stylesheet"/>
<h2 style="text-align:center">Tạo mới nhóm hàng</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">MÃ NHÓM HÀNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MA_NHOM_HANG)
                    @Html.ValidationMessageFor(model => model.MA_NHOM_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">TÊN NHÓM HÀNG</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.TEN_NHOM_HANG)
                    @Html.ValidationMessageFor(model => model.TEN_NHOM_HANG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">MÔ TẢ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MO_TA)
                    @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn_icon_create btn-success"><span class="fa icon_back fa-plus-circle" aria-hidden="true"></span>Tạo mới</button>
                    <button type="reset" class="btn btn_icon_delete btn-success"><span class="fa icon_back fa-ban" aria-hidden="true"></span>Hủy bỏ</button>
                    <a href="~/HopLong/PRODUCT_CATEGORIES/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>

                </div>
            </div>
        </div>

    </div>
}