@model IEnumerable<SYSTEM_MANAGEMENT.Models.SUPPLIER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_NCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEBSITE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MO_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_CATEGORIES.TEN_NHOM_HANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_NCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEBSITE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MO_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_CATEGORIES.TEN_NHOM_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_NCC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_NCC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_NCC })
        </td>
    </tr>
}

</table>
