@model SYSTEM_MANAGEMENT.Models.GHI_CHU_CONG_VIEC

@{
    ViewBag.Title = "Tạo ghi chú";
}

<link href="~/Content/css/Ghichu/createGhichu_admin.css" rel="stylesheet"/>
<h2 style="text-align:center">Tạo mới ghi chú</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div id="container_cate">
        <div class="editcontent">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (Convert.ToInt32(@Session["IS_AMIN"]) == 1)
                {
                <div class="row">
                    <div class="col">Người dùng: </div>
                    <div class="colinput">
                        <div style="margin-top:6px;">@Html.DropDownList("USER_ID")</div>
                        @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col">Người dùng</div>
                    <div class="colinput">
                        @Html.EditorFor(model => model.USER_ID)
                        @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">NGÀY GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DATE_NOTED)
                    @Html.ValidationMessageFor(model => model.DATE_NOTED, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">TÊN GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NOTED_NAME)
                    @Html.ValidationMessageFor(model => model.NOTED_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">THÔNG TIN GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NOTED_INFO)
                    @Html.ValidationMessageFor(model => model.NOTED_INFO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ĐÃ HOÀN THÀNH</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.IS_DONE)
                    @Html.ValidationMessageFor(model => model.IS_DONE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">NGÀY HOÀN THÀNH</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DATE_DONE)
                    @Html.ValidationMessageFor(model => model.DATE_DONE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn_icon_create btn-success"><span class="fa icon_back fa-plus-circle" aria-hidden="true"></span>Tạo mới</button>
                    <button type="reset" class="btn btn_icon_delete btn-success"><span class="fa icon_back fa-ban" aria-hidden="true"></span>Hủy bỏ</button>
                    <a href="~/GHI_CHU_CONG_VIEC/Danh_Sach_Ghi_Chu" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>

                </div>
            </div>
        </div>

    </div>
}
