@model SYSTEM_MANAGEMENT.Models.GHI_CHU_CONG_VIEC

@{
    ViewBag.Title = "Tạo ghi chú";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<link href="~/Content/css/Ghichu/createGhichu_admin.css" rel="stylesheet" type="text/css"/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="candidatedata" class="form-horizontal" method="POST">

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="panel">
                                <div class="panel-body">

                                    <div class="form-horizontal">
                                        <h2>Tạo ghi chú mới</h2>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @if (Convert.ToInt32(@Session["IS_AMIN"]) == 1)
                                        {
                                            <div class="form-group">
                                                <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Người dùng: </div>
                                                <div class="col-md-10">
                                                    @Html.DropDownList("USER_ID", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Người dùng: </div>
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.USER_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }



                                        <div class="form-group">
                                            <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Ngày tạo: </div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DATE_NOTED, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DATE_NOTED, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Tên ghi chú: </div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NOTED_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NOTED_NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Nội dung ghi chú: </div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NOTED_INFO, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NOTED_INFO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Trạng thái: </div> 
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.IS_DONE, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.IS_DONE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2" style="font-size:14px; font-weight:bold; font-family:'Times New Roman'">Ngày hoàn thành: </div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DATE_DONE, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DATE_DONE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group border">
                                            <div class="col-md-offset-0 col-md-2">
                                                <a href="/GHI_CHU_CONG_VIEC/Index/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
                                            </div>
                                            <div class="col-md-offset-4 col-md-1">
                                                <input type="submit" id="submit" value="" class="btn btn-default" />
                                            </div>                                        
                                        </div>
                                        <p></p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
               

                </div>
            </div>
        </div>

     }

     