@model SYSTEM_MANAGEMENT.Models.GHI_CHU_CONG_VIEC

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/css/Ghichu/deleteGhichu.css" type="text/css" rel="stylesheet"/>
<h2 class="h2">Xóa</h2>

<div class="notebox">
    <h4 class="h4">GHI CHÚ CÔNG VIỆC</h4>
    <hr />
    <dl class="dl-horizontal col-md-offset-3 col-md-6">
        <dt>
            NGÀY GHI CHÚ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_NOTED)
        </dd>

        <dt>
            TÊN GHI CHÚ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTED_NAME)
        </dd>

        <dt>
            THÔNG TIN GHI CHÚ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTED_INFO)
        </dd>

        <dt>
            ĐÃ HOÀN THÀNH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_DONE)
        </dd>

        <dt>
            NGÀY HOÀN THÀNH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_DONE)
        </dd>

        <dt>
            USERNAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()        
    }
    <div class="form-actions no-color border-top">
        <div class="col-md-offset-0">
            <a href="/GHI_CHU_CONG_VIEC/Danh_Sach_Ghi_CHu/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
        </div>
        <div class="col-md-offset-5 a col-md-4">
            <input type="submit" id="submit" value="" class="btn btn-default" onclick="return confirm('Bạn có chắc muốn xóa không?')" />
        </div>      
    </div>
</div>
