@model SYSTEM_MANAGEMENT.Models.DEPARTMENT

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/css/Departments/deleteDepart.css" rel="stylesheet"/>
<h2 class="h2">XÓA PHÒNG BAN</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DEPARTMENT_ID)
    <div id="container_cate">
        <div class="editcontent">
            <div class="row">
                <div class="col">TÊN NHÓM CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.DEPARTMENT_NAME, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.DEPARTMENT_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">CÔNG TY CHA</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.MANAGER, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MANAGER, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">ID LOẠI CÔNG TY</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.NOTED, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NOTED, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">GHI CHÚ</div>
                <div class="colinput">
                    @Html.EditorFor(model => model.COMPANY_ID, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.COMPANY_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="action">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn_icon_delete btn-success" onclick="return confirm('Bạn có chắc muốn xóa không?')"><span class="fa icon_back fa-trash-o" aria-hidden="true"></span>Xóa</button>
                    <a href="~/DEPARTMENTs/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
                </div>
            </div>
        </div>
    </div>
}
