@model IEnumerable<SYSTEM_MANAGEMENT.Models.USER_METAS>

@{
    ViewBag.Title = "Danh sách nhân viên";
}
<link href="~/Content/css/Departments/userDepart.css" type="text/css" rel="stylesheet"/>

<h2 style="padding-top:15px; font-family:'Times New Roman'; ">
    <a href="/DEPARTMENTs/Index" style="color:blue"> Danh sách phòng ban</a>
    &gt;&gt; Danh sách nhân viên của phòng 
    <b style="color:blue"> @ViewBag.dpartments</b>
</h2>

<table class="table" border="1">
    <tr class="title">
        <th>
            Họ và tên
        </th>
       
        <th>
            Giới tính
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Ngày vào công ty
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Thâm niên
        </th>
        <th>
            Quê quán
        </th>
        <th>
            Học vấn
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.USER.FULLNAME
        </td>
       
        <td>
            @item.SEX
        </td>
        <td>
            @item.BIRTHDAY.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.START_TIME.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.NUMBER_PHONE
        </td>
        <td >
            @item.SENIORITY
        </td>
        <td>
            @item.NATIVE_LAND
        </td>
        <td>
            @item.LITERACY
        </td>
        
       
    </tr>
}
</table>
<div class="col-md-offset-0 col-md-1">
    <a href="/DEPARTMENTs/Index/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
</div>

