@model IEnumerable<SYSTEM_MANAGEMENT.Models.USER_METAS>

@{
    ViewBag.Title = "Danh sách nhân viên";
}
<link href="~/Content/css/Departments/userDepart.css" type="text/css" rel="stylesheet"/>
<h2>DANH SÁCH NHÂN VIÊN</h2>

<table class="table" border="1">
    <tr class="title">
        <th>
            Họ và tên
        </th>
       
        <th>
            Giới tính
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Ngày vào công ty
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Thâm niên
        </th>
        <th>
            Quê quán
        </th>
        <th>
            Học vấn
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.USER.FULLNAME
        </td>
       
        <td>
            @item.SEX
        </td>
        <td>
            @item.BIRTHDAY.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.START_TIME.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.NUMBER_PHONE
        </td>
        <td >
            @item.SENIORITY
        </td>
        <td>
            @item.NATIVE_LAND
        </td>
        <td>
            @item.LITERACY
        </td>
        
       
    </tr>
}
</table>
<div class="backlink">
    @Html.ActionLink("Trở về danh sách phòng ban", "Index")
</div>

