@model IEnumerable<SYSTEM_MANAGEMENT.Models.USER_METAS>

@{
    ViewBag.Title = "Danh sách nhân viên";
}
<link href="~/Content/css/Departments/userDepart.css" type="text/css" rel="stylesheet"/>

<h2 style="padding-top:15px; font-family:'Times New Roman'; ">
    <a href="/DEPARTMENTs/Index" style="color:blue"> Danh sách phòng ban</a>
    &gt;&gt; Danh sách nhân viên của phòng 
    <b style="color:blue"> @ViewBag.dpartments</b>
</h2>



<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                Họ và tên
                                            </th>

                                            <th>
                                                Giới tính
                                            </th>
                                            <th>
                                                Ngày sinh
                                            </th>
                                            <th>
                                                Ngày vào công ty
                                            </th>
                                            <th>
                                                Số điện thoại
                                            </th>
                                            <th>
                                                Thâm niên
                                            </th>
                                            <th>
                                                Quê quán
                                            </th>
                                            <th>
                                                Học vấn
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.USER.FULLNAME
                                                </td>

                                                <td>
                                                    @item.SEX
                                                </td>
                                                <td>
                                                    @item.BIRTHDAY.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.START_TIME.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.NUMBER_PHONE
                                                </td>
                                                <td>
                                                    @item.SENIORITY
                                                </td>
                                                <td>
                                                    @item.NATIVE_LAND
                                                </td>
                                                <td>
                                                    @item.LITERACY
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a href="~/DEPARTMENTs/Index" class="btn btn_icon_back btn-default"><span class="fa icon_back fa-arrow-circle-left"></span>Trở về</a>
    </div>
    
</body>