@model SYSTEM_MANAGEMENT.Models.DEPARTMENT

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/css/Departments/editDepart.css" type="text/css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-1">
            <div class="thumbnail">
                <div class="caption">
                    <h3>CHỈNH SỬA PHÒNG BAN</h3>
                    <div class="form-group">             
                        @Html.LabelFor(model => model.DEPARTMENT_NAME, "TÊN PHÒNG BAN", htmlAttributes: new { @class = "control-label text col-md-offset-1 pull-left" })
                        <div class="col-md-offset-1 col-md-5">
                            @Html.EditorFor(model => model.DEPARTMENT_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DEPARTMENT_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                       @Html.LabelFor(model => model.MANAGER, "QUẢN LÝ", htmlAttributes: new { @class = "control-label text col-md-offset-1 pull-left" })
                        <div class="col-md-offset-1 col-md-5">
                            @Html.DropDownList("MANAGER", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MANAGER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NOTED, "GHI CHÚ", htmlAttributes: new { @class = "control-label text col-md-offset-1 pull-left" })
                        <div class="col-md-offset-1 col-md-5">
                            @Html.EditorFor(model => model.NOTED, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NOTED, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DEPARTMENT_ID)



        <div class="form-group">
            <div class="col-md-4"></div>
            
            <div class="col-md-2">
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            
            <div class="col-md-2">
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-1">
                <a href="/DEPARTMENTs/Index/@Session["USER_ID"]"><img src="~/Content/images/back_icon.png" /></a>
            </div>
            <div class="btn col-md-offset-5 col-md-1">
                <input type="submit" id="submit" value="" class="btn btn-default" />
            </div>
        </div>
    </div>
}

