@model IEnumerable<SYSTEM_MANAGEMENT.Models.DEPARTMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY.COMPANY_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY.COMPANY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DEPARTMENT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DEPARTMENT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DEPARTMENT_ID }) |
            @Html.ActionLink("Danh sách nhân viên", "Department_Users", new { id = item.DEPARTMENT_ID })
        </td>
    </tr>
}

</table>
